
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">


</head>
<body>


  <nav class="navbar navbar-expand-lg" style="background-color:#1B2631;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
            <a class="nav-link" routerLink="/auriculares" style="color: white;">Auriculares</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/celulares" style="color: white;">Celulares</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/computadoras" style="color: white;">Computadoras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tablets" style="color: white;">Tablets</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  
  <div style=" display: flex; margin: 50px;">
    <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
  </div>

    
  <div style=" display: flex; margin: 50px;">
    <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
  </div>


    
  <div style=" display: flex; margin: 50px;">
    <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; margin: 10px;">
        <img src="../../assets/pc-4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div style="text-align: center;">
            <button class="btn" style="background-color:transparent; border: solid 3px;border-color:blue; border-radius: 4rem;
                padding-left: 30px; padding-right: 30px; color:blue; font-weight: bold;">Comprar</button>
          </div>
        </div>
      </div>
  </div>



  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>





